In [11]:
import pandas as pd
import json

In [12]:
df_complete = pd.read_csv(r"..\data\csv\games.csv")
df_champs = pd.read_csv(r"..\data\csv\champ_file_2.csv")

In [13]:
df_complete.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [14]:
df_complete[["winner", "firstBlood", "firstTower", "firstInhibitor", "firstBaron", "firstDragon", "firstRiftHerald"]] = df_complete[["winner", "firstBlood", "firstTower", "firstInhibitor", "firstBaron", "firstDragon", "firstRiftHerald"]].replace([1, 2, 0], ["blue", "red", "nobody"])

In [15]:
#creating df with only match data
df_games = df_complete[["winner", "gameDuration", "firstBlood", "firstTower", "firstInhibitor", "firstBaron", "firstDragon", "firstRiftHerald", "t1_towerKills",  "t1_inhibitorKills", "t1_baronKills", "t1_dragonKills", "t1_riftHeraldKills", "t2_towerKills",  "t2_inhibitorKills", "t2_baronKills", "t2_dragonKills", "t2_riftHeraldKills"]]

#creating df with only champs data
df = df_complete[["winner","seasonId", "t1_champ1id", "t1_ban1", "t1_champ2id", "t1_ban2",  "t1_champ3id", "t1_ban3",  "t1_champ4id", "t1_ban4", "t1_champ5id", "t1_ban5", "t2_champ1id", "t2_ban1", "t2_champ2id","t2_ban2", "t2_champ3id", "t2_ban3", "t2_champ4id", "t2_ban4", "t2_champ5id", "t2_ban5"]]

In [16]:
df.shape

(51490, 22)

In [17]:
df

,winner,seasonId,t1_champ1id,t1_ban1,t1_champ2id,t1_ban2,t1_champ3id,t1_ban3,t1_champ4id,t1_ban4,...,t2_champ1id,t2_ban1,t2_champ2id,t2_ban2,t2_champ3id,t2_ban3,t2_champ4id,t2_ban4,t2_champ5id,t2_ban5
0,blue,9,8,92,432,40,96,69,11,119,...,104,114,498,67,122,43,238,16,412,51
1,blue,9,119,51,39,122,76,17,10,498,...,54,11,25,67,120,238,157,51,92,420
2,blue,9,18,117,141,40,267,29,68,16,...,69,157,412,238,126,121,24,57,22,28
3,blue,9,57,238,63,67,29,516,61,114,...,90,164,19,18,412,141,92,40,22,51
4,blue,9,19,90,29,64,40,412,119,25,...,37,86,59,11,141,201,38,122,51,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,red,9,19,114,429,18,91,11,432,157,...,45,55,83,-1,67,90,40,238,79,157
51486,red,9,90,157,32,164,31,122,412,99,...,102,157,429,55,89,119,75,154,45,105
51487,red,9,141,238,18,31,432,24,81,53,...,1,113,119,122,33,53,43,11,99,157
51488,red,9,121,119,236,64,420,51,201,157,...,21,154,56,39,25,51,30,90,11,114
51489,blue,9,89,40,1,122,164,96,113,157,...,63,11,17,157,29,141,121,31,58,18

In [18]:

# # sobsituting id's with champ names
# for i in range(51490):
    
#     # champs picks
#     df["t1_champ1id"][i] = df_champs[df_champs["id"] == df["t1_champ1id"][i]]["name"].values[0]
#     df["t1_champ2id"][i] = df_champs[df_champs["id"] == df["t1_champ2id"][i]]["name"].values[0]
#     df["t1_champ3id"][i] = df_champs[df_champs["id"] == df["t1_champ3id"][i]]["name"].values[0]
#     df["t1_champ4id"][i] = df_champs[df_champs["id"] == df["t1_champ4id"][i]]["name"].values[0]
#     df["t1_champ5id"][i] = df_champs[df_champs["id"] == df["t1_champ5id"][i]]["name"].values[0]
#     df["t2_champ1id"][i] = df_champs[df_champs["id"] == df["t2_champ1id"][i]]["name"].values[0]
#     df["t2_champ2id"][i] = df_champs[df_champs["id"] == df["t2_champ2id"][i]]["name"].values[0]
#     df["t2_champ3id"][i] = df_champs[df_champs["id"] == df["t2_champ3id"][i]]["name"].values[0]
#     df["t2_champ4id"][i] = df_champs[df_champs["id"] == df["t2_champ4id"][i]]["name"].values[0]
#     df["t2_champ5id"][i] = df_champs[df_champs["id"] == df["t2_champ5id"][i]]["name"].values[0]

#     # champs bans
#     df["t1_ban1"][i] = df_champs[df_champs["id"] == df["t1_ban1"][i]]["name"].values[0]
#     df["t1_ban2"][i] = df_champs[df_champs["id"] == df["t1_ban2"][i]]["name"].values[0]
#     df["t1_ban3"][i] = df_champs[df_champs["id"] == df["t1_ban3"][i]]["name"].values[0]
#     df["t1_ban4"][i] = df_champs[df_champs["id"] == df["t1_ban4"][i]]["name"].values[0]
#     df["t1_ban5"][i] = df_champs[df_champs["id"] == df["t1_ban5"][i]]["name"].values[0]
#     df["t2_ban1"][i] = df_champs[df_champs["id"] == df["t2_ban1"][i]]["name"].values[0]
#     df["t2_ban2"][i] = df_champs[df_champs["id"] == df["t2_ban2"][i]]["name"].values[0]
#     df["t2_ban3"][i] = df_champs[df_champs["id"] == df["t2_ban3"][i]]["name"].values[0]
#     df["t2_ban4"][i] = df_champs[df_champs["id"] == df["t2_ban4"][i]]["name"].values[0]
#     df["t2_ban5"][i] = df_champs[df_champs["id"] == df["t2_ban5"][i]]["name"].values[0]

In [19]:
# # creating a column with pick and ban for players

# df["t1_p1_pick/ban"]  = df["t1_champ1id"].astype(str) + "/" + df["t1_ban1"].astype(str)
# df["t1_p2_pick/ban"]  = df["t1_champ2id"].astype(str) + "/" + df["t1_ban2"].astype(str)
# df["t1_p3_pick/ban"]  = df["t1_champ3id"].astype(str) + "/" + df["t1_ban3"].astype(str)
# df["t1_p4_pick/ban"]  = df["t1_champ4id"].astype(str) + "/" + df["t1_ban4"].astype(str)
# df["t1_p5_pick/ban"]  = df["t1_champ5id"].astype(str) + "/" + df["t1_ban5"].astype(str)
# df["t2_p1_pick/ban"]  = df["t2_champ1id"].astype(str) + "/" + df["t2_ban1"].astype(str)
# df["t2_p2_pick/ban"]  = df["t2_champ2id"].astype(str) + "/" + df["t2_ban2"].astype(str)
# df["t2_p3_pick/ban"]  = df["t2_champ3id"].astype(str) + "/" + df["t2_ban3"].astype(str)
# df["t2_p4_pick/ban"]  = df["t2_champ4id"].astype(str) + "/" + df["t2_ban4"].astype(str)
# df["t2_p5_pick/ban"]  = df["t2_champ5id"].astype(str) + "/" + df["t2_ban5"].astype(str)

# df = df.drop(columns = ["t1_champ1id", "t1_ban1", "t1_champ2id", "t1_ban2",  "t1_champ3id", "t1_ban3",  "t1_champ4id", "t1_ban4", "t1_champ5id", "t1_ban5", "t2_champ1id", "t2_ban1", "t2_champ2id","t2_ban2", "t2_champ3id", "t2_ban3", "t2_champ4id", "t2_ban4", "t2_champ5id", "t2_ban5"])

In [20]:
df.to_csv("../data/finite/lol_champs_data.csv")
df_games.to_csv("../data/finite/lol_games_data.csv")
df_champs.to_csv("../data/finite/lol_champs_info.csv")